import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';
import { RouterOutlet } from '@angular/router';

// Importaciones con las rutas exactas a tus archivos .ts
import { DashboardComponent } from './components/dashboard/dashboard';
import { FormularioComponent } from './components/formulario/formulario';
import { ListaComponent } from './components/lista/lista';

@Component({
  selector: 'app-root',
  standalone: true,
  imports: [
    CommonModule,
    RouterOutlet,
    DashboardComponent,
    FormularioComponent,
    ListaComponent
  ],
  templateUrl: './app.component.html',
  styleUrl: './app.component.css'
})
export class AppComponent {
  title = 'help-desk-frontend';
  tickets: any[] = [];
}