<nav class="navbar navbar-dark bg-dark mb-4 shadow">
  <div class="container">
    <span class="navbar-brand mb-0 h1">🛠️ Help Desk SPA</span>
  </div>
</nav>

<div class="container pb-5">
  <app-dashboard [tickets]="tickets"></app-dashboard>

  <div class="row">
    <div class="col-md-5">
      <app-formulario (ticketCreado)="onTicketCreado($event)"></app-formulario>
    </div>
    <div class="col-md-7">
      <app-lista 
        [tickets]="tickets" 
        (ticketEliminado)="onTicketEliminado($event)"
        (ticketActualizado)="onTicketActualizado($event)">
      </app-lista>
    </div>
  </div>
</div>